.app {
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
}

.title {
    padding-top: 3em;
}

.title h1 {
    font-size: 5vh;
}

.title p {
    font-size: 3vh;
}

.title p button {
    border: none;
    font-size: 3vh;
    background-color: transparent;
    transition: color 0.33s ease;
}

.title p button:hover {
    color: #999;
}