.app {
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
}

.title {
    padding-top: 3em;
}

.title h1 {
    font-size: 5vh;
}

.title p {
    font-size: 3vh;
}

.title p button {
    border: none;
    font-size: 3vh;
    background-color: transparent;
    transition: color 0.33s ease;
}

.title p button:hover {
    color: #999;
}

.tasklist a {
    color: #000000;
    transition: color 0.33s ease;
}

.tasklist {
    margin: auto;
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: left;
}

.tasklist li {
    text-align: left;
}

.tasklist a:hover {
    color: #999;
}