.app {
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
}

.title {
    padding-top: 3em;
}

.title h1 {
    font-size: 5vh;
}

.title p {
    font-size: 2.5vh;
}

.title p button {
    border: none;
    font-size: 2.5vh;
    background-color: transparent;
    transition: color 0.33s ease;
}

.title p button:hover {
    color: #999;
}

.panels {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lists {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tasklist a {
    color: #000000;
    text-align: left;
    transition: color 0.33s ease;
}

.tasklist a:hover {
    color: #999;
}

.weather ul {
    text-align: left;
}

.calendar ul {
    text-align: left;
}